<td><%= @room.token %></td>
<%= if @room.winner do %>
  <td><%= @room.winner.name %></td>
<% end %>
<td class="text-right">
  <%= link "Show", to: room_path(@conn, :show, @room), class: "btn btn-default btn-xs" %>
</td>
