/* This file is for your main application css. */

.buffer-bottom {
  margin-bottom: 10px;
}

.buffer-top {
  margin-top: 10px;
}

.dice {
  text-align: center;
}

.die-check input {
  display: none;
}

.die-check input:checked + label {
  opacity: .3;
}

.die-face {
  width: 70px;
  height: 71px;
  background-image: url("/images/dice_small.png");
  background-position-y: -2px;
  margin-bottom: 0;
}

.die-face-1 {
  background-position-x: -1px;
}

.die-face-2 {
  background-position-x: -72px;
}

.die-face-3 {
  background-position-x: -144px;
}

.die-face-4 {
  background-position-x: -215px;
}

.die-face-5 {
  background-position-x: -286px;
}

.die-face-6 {
  background-position-x: -358px;
}

.player {
  text-align: center;
}

.table th {
  font-weight: normal;
}

.table th.me {
  font-weight: bold;

}
